body {
    padding-top: 66px;
    font-family: 'Varela', sans-serif !important;
    font-weight: 300;
    scroll-behavior: smooth;
    color: #ddd;
}

*:focus {
    outline: none;
}

@media (min-width: 1200px) {
    .fs-4 {
        font-size: 1.6rem!important;
        letter-spacing: 1.5px;
    }
    .container.mini {
        max-width: 800px;
    }
}

strong {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 1px 5px;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1rem;
}

.link {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: underline;
    background: #fff;
    padding: 1px 5px;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1rem;
}

.link:hover {
    color: rgba(0, 0, 0, 0.4);
}

.strong-code {
    font-family: 'Source Code Pro';
}

.btn-tutorial {
    background: #313539;
    border-radius: 0 0 8px 8px;
    padding: 8px;
    margin: 0 0 50px 0;
}

.bg-white {
    background-color: #313539 !important
}

.numeric-info {
    width: 28px;
    height: 28px;
    line-height: 28px;
    float: left;
    background-image: url('../assets/img/indica_logo_bg_v2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    border-radius: 50%;
    margin: 0 7px 0 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 700;
}

/*Header*/

.navbar {
    background: #16181b;
}

/*Logo*/

.navbar-brand {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 600;
}

.logo {
    background: transparent;
    color: #16181b;
    display: block;
    font-family: "Ubuntu" !important;
    font-weight: 700 !important;
    width: 40px;
    border-radius: 10%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    font-size: 30px;
    /* -webkit-animation: color_change 12s infinite alternate;
  -moz-animation: color_change 12s infinite alternate;
  -ms-animation: color_change 12s infinite alternate;
  -o-animation: color_change 12s infinite alternate;
  animation: color_change 12s infinite alternate;*/
}

.logo span {
    z-index: 1;
}

.logo img {
    left: -10px;
    top: -10px;
    width: 60px;
    animation: color_change 12s infinite linear;
    z-index: -1;
}

.nav-link {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    letter-spacing: 1.4px;
    padding: 0
}

.nav-link.highlight {
    color: rgba(255, 255, 255, 1) !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 17px;
}

/*Video Background*/

.header {
    position: relative;
    height: calc(100vh - 66px);
    width: 100%;
    overflow: hidden;
}

.header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 1;
}

.header .overlay-text {
    position: relative;
    z-index: 2;
    text-align: justify;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
}

.indica-logo {
    max-width: 400px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: .08;
}

.wrap {
    text-transform: uppercase;
    font-weight: 700;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

/*Content Style*/

main article .container {
    padding: 0 120px;
}

main article .container p {
    text-align: justify;
}

section, h2, h3, h4 {
    position: relative;
    color: #fff;
}

article:not(:first-child) section {
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
}

/*h2::before{
  content: "";
  height: 4px;
  width: 135px;
  position: absolute;
  left: 0;
  bottom: 12px;
  background: #444;
  -webkit-animation: color_change 12s infinite alternate;
  -moz-animation: color_change 12s infinite alternate;
  -ms-animation: color_change 12s infinite alternate;
  -o-animation: color_change 12s infinite alternate;
  animation: color_change 12s infinite alternate;
}*/

input {
    padding: 0 20px;
    font-size: 14px;
    font-family: 'Source Code Pro', sans-serif !important;
    background: #fff;
    font-weight: 600;
    color: #61666b;
    border: 4px solid #d1d5d9;
    line-height: 54px;
    border-radius: 10px;
    margin: 0;
    width: 100%;
}

input:focus {
    outline: none !important;
}

.copy .code {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQflAR0QJBmc62x1AAABDklEQVQ4y7WTvUoDQRRGvw15ArVIKYoQ0TJYLxKxE4k+QrAJeQGr1JbpBDtNYZnCUkX0DdxKbJTgDyRCMGgirMdCZGeWmd1CcroZvnPnzh1GMqBGREyaUwpyQegIAzxz4BY6uKlxR9OOVrhhgo+QMn22kniJN3q0efAImxIbDFn7E/aAJYlLj3DGjESDVxZ+hRZIGUJCS3IPLIPpC0XH3pcO9WGsF7WbLTxpPxgZr7SaJ8zrneneYaC6jJa0rHbeCd/WKs47YVZdf0v/erhebvrRFo5Svad5UdcSgivtKPJIE12oGgwkSdSBsq8sBe45NspKzCnSp06s2SdTDLWuMLi2q6xwztj5ZWJu2TazP+vZJWrOVkXMAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIxLTAxLTI5VDE2OjM2OjI1KzAwOjAwfBocRAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMS0wMS0yOVQxNjozNjoyNSswMDowMA1HpPgAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAAElFTkSuQmCC"), auto;
}

.code {
    font-family: 'Source Code Pro', sans-serif !important;
    background: #16181b;
    font-size: 13px;
    border: 1px solid #2c3035;
    padding: 15px 25px;
    display: block;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    border-radius: 8px;
    margin: .5rem 0;
    margin: 0;
    word-wrap: break-word;
}

.container.command .code {
    border-radius: 8px 8px 0 0;
    margin: .5rem 0 0 0;
}

.code .comment {
    opacity: 0.2;
    font-style: italic;
}

.btn-a {
    color: #ddd;
    padding: .25rem .5rem;
    font-weight: 700;
    border: 0;
    outline: none;
    letter-spacing: 1px;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    text-align: left;
}

.btn-a:hover {
    color: #fff;
    text-decoration: underline;
}

.btn-a::before {
    content: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='16' height='16' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>");
    position: absolute;
    line-height: 0;
    left: 0;
    top: 8px;
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
    transform: rotate(-90deg);
}

.btn-a[aria-expanded="true"]::before {
    transform: rotate(0deg);
}

.collapse.show video {
    box-shadow: 0 0 15px rgb(0 0 0 / 50%);
}

/*Footer*/

footer {
    background: #16181b;
}

.footer-cards {
    text-align: justify;
}

.footer-cards img {
    width: 100%;
    max-width: 16px;
}

.footer-cards a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.form-inline {
    float: left;
    width: 100%;
}

.input-news {
    background: #e2e3e5;
    border: 1px solid#d3d6d8;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: calc(100% - 101px);
    border-right: none;
    line-height: 18px;
    float: left;
}

.btn-news {
    background: #888;
    border: 1px solid #bcbebf;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
    color: #fff;
    float: left;
}

.btn-news:hover {
    background: #212529;
    color: #fff;
}

footer .copyright a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.modal-dialog {
    max-width: 370px !important;
}

@media screen and (max-width: 991px) {
    main article .container {
        padding: 1rem;
    }
    .header {
        height: auto;
    }
}

/*Logo Animation*/

@keyframes color_change {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

/*@-webkit-keyframes color_change{
  0%{
    background-color: #fce441;
  }
  25%{
    background-color: #5df6a5;
  }
  50%{
    background-color: #5ec4e2;
  }
  75%{
    background-color: #c17bee;
  }
  100%{
    background-color: #d74459;
  }
}

@-moz-keyframes color_change{
  0%{
    background-color: #fce441;
  }
  25%{
    background-color: #5df6a5;
  }
  50%{
    background-color: #5ec4e2;
  }
  75%{
    background-color: #c17bee;
  }
  100%{
    background-color: #d74459;
  }
}

@-ms-keyframes color_change{
  0%{
    background-color: #fce441;
  }
  25%{
    background-color: #5df6a5;
  }
  50%{
    background-color: #5ec4e2;
  }
  75%{
    background-color: #c17bee;
  }
  100%{
    background-color: #d74459;
  }
}

@-o-keyframes color_change{
  0%{
    background-color: #fce441;
  }
  25%{
    background-color: #5df6a5;
  }
  50%{
    background-color: #5ec4e2;
  }
  75%{
    background-color: #c17bee;
  }
  100%{
    background-color: #d74459;
  }
}

@keyframes color_change{
  0%{
    background-color: #fce441;
  }
  25%{
    background-color: #5df6a5;
  }
  50%{
    background-color: #5ec4e2;
  }
  75%{
    background-color: #c17bee;
  }
  100%{
    background-color: #d74459;
  }
}*/

/*POPUP*/

#news-popup {
    height: 0px;
    transition: all .5s ease-out;
    top: 50%;
    background: #16181b;
}

#news-popup.h-100 {
    top: 0;
}

#news-popup .content-box {
    align-items: center;
}

#news-popup.h-100 .content-box .container {
    z-index: 3;
    color: #fff;
    padding: 0 120px;
    text-align: justify;
}

#news-popup .content-box .container p, #news-popup .content-box .container h1 {
    opacity: 0;
}

#news-popup.h-100 .content-box .container p, #news-popup.h-100 .content-box .container h1 {
    opacity: 1;
}

#news-popup.h-100 .content-box .container h1 {
    transition: opacity 1s ease-out .8s;
}

#news-popup.h-100 .content-box .container p:nth-of-type(1) {
    transition: opacity 1s ease-out 1s;
}

#news-popup.h-100 .content-box .container p:nth-of-type(2) {
    transition: opacity 1s ease-out 1.4s;
}

#news-popup.h-100 .content-box .container p:nth-of-type(3) {
    transition: opacity 1s ease-out 1.8s;
}

#news-popup.h-100 .content-box .container p:nth-of-type(4) {
    transition: opacity 1s ease-out 2.2s;
}

#news-popup.h-100 .content-box .container p:nth-of-type(5) {
    transition: opacity 1s ease-out 2.6s;
}

#news-popup.h-100 .content-box .container p:nth-of-type(6) {
    transition: opacity 1s ease-out 3s;
}

/*Scroll Icon*/

.scroll-icon-box {
    position: absolute;
    z-index: 3;
    bottom: 10px;
    color: #fff;
}

.scroll-icon__wheel-outer {
    display: block;
    position: absolute;
    left: 50%;
    top: .6em;
    height: 1em;
    width: .4em;
    margin-left: -.2em;
    border-radius: .4em;
    overflow: hidden;
}

.scroll-icon__wheel-inner {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: #fff;
    animation: scroll 2.75s ease-in-out infinite;
}

.scroll-icon {
    display: block;
    position: relative;
    height: 3em;
    width: 2em;
    border: .20em solid #fff;
    border-radius: 1em;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-0.6em);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(0.6em);
    }
    100% {
        transform: translateY(0);
    }
}

/*Scroll Icon*/

#news-popup .overlay {
    background: rgb(0 0 0 / 50%);
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

#news-popup.h-100 .overlay {
    opacity: 1;
    transition: opacity .5s ease-out .5s;
}

#news-popup img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .1;
    display: block;
    width: 0;
    max-width: 342px;
    z-index: 1;
}

#news-popup.h-100 img {
    width: 100%;
    transition: width 1.5s ease-out .8s;
}

#news-popup .popup-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

@media screen and (max-width: 991px) {
    #news-popup .content-box {
        align-items: start;
    }
    #news-popup.h-100 .content-box .container {
        padding: 1rem;
        overflow-y: scroll;
        height: calc(100% - 92px);
    }
}